@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@font-face {
    font-family: Immath;
    src: url("lmmath.otf") format("opentype");
}

html, input {
  font-family: 'Crimson Text', serif;
  font-size: 3em;
}
.mathui-Div > *{
    display: block;
    text-align: center;
    font-size: 0.7em;
}

.mathui-FunctionApplicationRight::after {
  content: ")";
}

.mathui-FunctionApplicationRight::before {
  content: "(";
}

.mathui-DivLeft {
    border-bottom: 1px solid black;
}

.mathui-Div {
    display: inline-block;
    vertical-align: middle;
}

.mathui-MultiplyRight::before {
  content: "·";
}

.mathui-PlusRight:before {
    content: "+";
}

.mathui-Hole input {
 box-shadow: 0 0 0 1px #bada55;
}

.mathui-EqualsRight:before {
  content: "=";
}

.mathui-Sigma {
  display: inline-block;
  vertical-align: middle;
}

.mathui-Sigma>* {
  display: block;
}

.mathui-SigmaUnder, .mathui-SigmaOver {
  font-size: 0.7em;
  line-height: 0;
  height: 0.6em;
}

.mathui-SigmaAfter::before {
  content: "Σ";
  font-size: 2em;
  vertical-align: middle;
}

.mathui-SigmaAfter {
}

.mathui-PowRight {
  vertical-align: super;
  font-size: 0.8em;
}
.mathui-PowRight > input {
  font-size: 1em;
}

.mathui-MatrixContent {
  display: inline-table;
  vertical-align: middle;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-left: 0.08em solid black;
  border-right: 0.08em solid black;
  border-top-left-radius: 30% 100%;
  border-bottom-left-radius: 30% 100%;
  border-top-right-radius: 30% 100%;
  border-bottom-right-radius: 30% 100%;
}

.mathui-Vector {
  display: inline-block;
  vertical-align: middle;
  border-left: 0.08em solid black;
  border-right: 0.08em solid black;
  border-top: 0.08em solid transparent;
  border-bottom: 0.08em solid transparent;
  border-radius: 51%/13%;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.mathui-VectorItem {
  display: block;
  text-align: center;
}


.mathui-ElemInRight::before {
  content: "∈"
}


.mathui-Sqrt::before {
  content: "√";
  font-size: 132%;
line-height: 100%;
}

.mathui-SqrtInner {
  border-top: 1px solid black;
}
.mathui-SqrtInner > * {
    font-size: 0.8em;
}


input {
  font-size: 1em;
  text-align: center;
  background: rgba(114, 223, 255, 0.25);
    border-radius: 19px;
  border: none;
  box-shadow: 0 0 0 1px #72dfff inset;
}


.mathui-VectorSymbol::before {
  content: "→";
  display: block;
  text-align: center;
  line-height: 50%;
}

.mathui-VectorSymbol {
  display: inline-block;
}



.mathui-Parentheses:before {
  content: "("
}

.mathui-Parentheses:after {
  content: ")"
}

.mathui-HiddenText {
  overflow: hidden;
  font-size: 0;
}
